@model Task_1.Models.Product
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <img src=@Model.Thumbnail alt="Product Image" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <h1>@Model.Title</h1>
            <p>@Model.Description</p>
            <p>Brand: @Model.Brand</p>
            <p>Rating: @Model.Rating</p>
            <p>Price: $@Model.Price</p>
            <p>Discount: @Model.DiscountPercentage%</p>
            <p>Stock: @Model.Stock</p>
        </div>
    </div>
</div>