@model Task_1.Models.Product
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<container>
    <div class="row">
        <div class="col-lg-8">
            <div class="product-container">
                <img src=@Model.Thumbnail alt="Product Image" class="img-fluid product-image">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-container">
                <h2 class="product-title">@Model.Title</h2>
                <p class="product-description">@Model.Description</p>
                <hr class="divider">
                <div class="product-details">
                    <p>Brand: @Model.Brand</p>
                    <p>Rating: @Model.Rating</p>
                    <p>Price: $@Model.Price</p>
                    <p>Discount: @Model.DiscountPercentage%</p>
                    <p>Stock: @Model.Stock</p>
                </div>
                <a href="@Url.Action("Store", "Home")" class="back-btn">Back to Store</a>
            </div>
        </div>
    </div>
</container>

