@page "{id}"
@model Task_1.Pages.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <img src=@Model.Product.Thumbnail alt="Product Image" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <h1>@Model.Product.Title</h1>
            <p>@Model.Product.Description</p>
            <p>Brand: @Model.Product.Brand</p>
            <p>Rating: @Model.Product.Rating</p>
            <p>Price: $@Model.Product.Price</p>
            <p>Discount: @Model.Product.DiscountPercentage%</p>
            <p>Stock: @Model.Product.Stock</p>
        </div>
    </div>
</div>